.shopping-main {
  background-image: url("../public/bg1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: scroll;
  flex-direction: column;
  
}


#reset-button {
  border: none;
  padding: 8px 30px;
  &:hover {
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
  }
  margin-bottom: 40px;
}

#add-button {
  border-radius: 50%;
  padding: 2px;
  transition: all ease-in-out 500ms;
  cursor: pointer;
}

#add-button:hover,
#save-button:hover {
  background-color: var(--primary-color);
}

#add-button:active,
#save-button:active {
  background-color: var(--primary-color);
}

#shopping-list {
  display: flex;
  flex-direction: column;

}

#new-item-input-container {
  display: flex;
  flex-direction: column;

}

#save-button {
  padding: 10px;
  align-self: center;
  border: none;
  transition: all ease-in-out 500ms;
  cursor: pointer;
}

.li-item-container {
  display: flex;

  padding:10px 20px;

  

  p {
    margin: 0;
    text-align: center;
  }

  button {
    margin: 0;
    align-self: center;
    background-color: transparent;
    border: none;

    span {
      align-self: center;
    }

  }

  .delete-button {
    opacity: 0;
    transition: all ease-in-out 500ms;
  }

  .delete-button:hover {
    opacity: 1;
    cursor: pointer;
  }
}

.shopping-list-item-input-article {
  margin: 20px 0;
  display: flex;
  input {
    padding: 10px;
    margin-block: 10px;
    outline: none;
    border: none;
    background-color: var(--primary-color);
    color: white;
  }

}


#notification {
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

