.todos-main {
  background-image: url("../public/credit.jpg");
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: color;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: scroll;
  flex-direction: column;
  position: relative;
  
}


#budget-section {
  background-color: white;
  align-self: flex-start;
  padding: 5px;
}

#amount-input-section {

  border: solid white 2px;
  margin: 40px;
  align-self: center;
  display: flex;
  

  input {
    padding: 10px;
    text-align: center;
  }

  input::placeholder {
    text-align: center;
  }



}


#reset-button {
  border: none;
  padding: 8px 30px;
  &:hover {
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
  }
  margin-bottom: 40px;
}

#logout-button,
#add-button {
  border-radius: 50%;
  padding: 2px;
  transition: all ease-in-out 500ms;
  cursor: pointer;
}

#logout-button:hover,
#add-button:hover,
#save-button:hover {
  background-color: var(--primary-color);
}

#logout-button:active,
#add-button:active,
#save-button:active {
  background-color: var(--primary-color);
}

#todos-list {
  display: flex;
  flex-direction: column;

}


/* INPUTS CONTAINER*/
#new-item-input-container {
  display: flex;
  align-self: center;
  flex-direction: column;


}

.inputs-container {

  background-color: beige;
  padding: 10px;
  width: 300px;
  article {
    margin: 10px 0;
  }
  article input {
    width: 100%;

  }
}
.button-container {

  background-color: beige;
  width: 300px;
  button {
    width: 100%;
  }
}

.todos-list-item-input-article {
  display: flex;
  input {
    border: black .5px solid;
    padding: 10px;
    outline: none;
  }

}



/*-------------------------------------------------------------*/

#save-button {
  padding: 10px;
  align-self: center;
  border: none;
  transition: all ease-in-out 500ms;
  cursor: pointer;
}

.list-item-container {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  

  p {
    margin: 0;
    text-align: center;
    font-style: normal;
    display: flex;
    align-items: center;

  
    span {
      margin-inline: 10px;
      min-width: 60px;
    }
  }

  button {
    margin: 0;
    align-self: center;
    background-color: transparent;
    border: none;

    span {
      align-self: center;
    }

  }

  .delete-button {
    opacity: 0;
    transition: all ease-in-out 500ms;
  }

  .delete-button:hover {
    opacity: 1;
    cursor: pointer;
  }
}



#notification {
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#no-item {
  font-size: 20px;
  align-self: center;
  padding: 5px;
  color: white;
}

